.map {
    height: 600px;
    width: 600px;
    background-color: rgb(182, 196, 193);
    position: relative;
}

.map-header {
    height: 200px;
    width: 100px;
    background-color: sandybrown;
    @include center-translate
}

.map-main {
    height: 400px;
    &_content {}
}