// /*=============================================
// =                   提供布局                   =
// =============================================*/


// /*=============================================
// =                   variable                  =
// =============================================*/

// 网格
$max-width: 1200px;
$max-width-narrow: 720px;

// 间距
$horizontal-padding-small: 30px;
$horizontal-padding-medium: 60px;

// 内容
$limit-width: $max-width+($horizontal-padding-medium * 2);

